
.both{
  display: flex;
  align-content: center;
  justify-content: center;
}

.information{
  margin-left: 100px;
}

input {
  width: 200px;

}

.comments {
  height: 50px;
}

nav{
  font-size: 20px;
}

.vertical-line{
  border-left: 2px solid;
  display: inline-block;
  height: 20px;
  margin: 0 30px;
}
